  <figure class="yui3-u-1 figure round">

  <%= image_tag "ruby.png", :alt => 'Ruby' %>

  <p class="credit">
    <abbr class="type" title="Some Title">
      Photograph
    </abbr>
      by
    <cite>
      <a href="" target="_blank" title="Some Title">
        Name
      </a>
        <sup id="fnref:1.1" class="footnote">
          <a href="/intro#fn:1.1">
            1
          </a>
        </sup>
          Sign on Hwy 876. Used with permission.
    </cite>
  </p>

  <p class="caption">
    <em class="title">
      Figure 
    </em>
      The Barren Canadian Prairies
  </p>

</figure>
