<article id="main" class="yui3-u-1">
  <%= render 'nav' %>

<h1>Schipperius</h1>

<p>My story begins with Caesar's conquest of Gaul, completed by 51 BC, which extended Rome's northern territory to the English Channel and the Rhine.</p>

<p>For around 450 years, from around 55 BC to around 410 AD, the southern part of the Netherlands was integrated into the Roman Empire. During this time the Romans in the Netherlands had an enormous influence on the lives and culture of the people who lived in the Netherlands at the time and (indirectly) on the generations that followed.</p>

<p>The Gallic Wars were a series of military campaigns waged by the Roman proconsul Julius Caesar against several Gallic tribes. They lasted from 58 BC to 51 BC and culminated in the decisive Battle of Alesia in 52 BC, in which a complete Roman victory resulted in the expansion of the Roman Republic over the whole of Gaul. The wars paved the way for Julius Caesar to become the sole ruler of the Roman Republic.</p>

<p>Conquering Gaul allowed Rome to secure the natural border of the river Rhine.</p>


<site>http://en.wikipedia.org/wiki/Romans_in_the_Netherlands</site>
