<article id="main" class="yui3-u-1">
  <%= render 'nav' %>

  <h1>Front Cover</h1>
  <p class="first"><span class="e">E</span><span class="firstLine">very book has a cover</span>, and this is the front cover of a 1581 Geneva Bible, bound in full leather with gold tooling that I thought would make the perfect book cover for the <em><strong>Book of Jack</strong></em> <sup id="fnref:1.1" class="footnote"><a href="/front_cover#fn:1.1">1</a></sup>.</p>

  <figure>
    <%= image_tag "front-cover.jpg", :alt => 'Front Cover', :size => "700x900" %>
    <p class="credit"><abbr class="type" title="Geneva Bible 1581">Photograph</abbr> by <cite>
      <a href="http://ca.linkedin.com/pub/liam-quin/8/184/705" target="_blank" title="LinkedIn"> Liam Quin</a>. Used with permission.</cite>
    </p>
    <p class="caption"><em class="title">Figure</em> A Geneva Bible from 1581</p>
  </figure>

  <aside id="cont" class="footnotes">
    <div class="demo other">
      <h1>Footnotes</h1>
      <ol class="collapse">
        <li id="fn:1.1">This is a very nice collection from Liam Quin <a href="http://www.fromoldbooks.org/" target="_blank" title="Pictures of Old Books from the Liam Quin collection">Pictures of Old Books</a>.
  <a href="/front_cover#fnref:1.1" class="arrow">↑</a>
        </li>
      </ol>
    </div> 
  </aside> <!-- end class footnotes -->

  <div class="pagination">
    <a href="about#top" class="next-page">
      <span class="number">Forward</span>&nbsp;>>
    </a>
  </div> <!-- end class pagination -->

</article> <!-- end class main -->
