<article class="yui3-u-1 round deck-container">


  <section class="slide" id="elements-videos">
    <object width="480" height="385">
      <param name="movie" value="http://www.youtube.com/v/XuRwis3_iVk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x3a3a3a&amp;color2=0x999999"></param>
       <param name="allowFullScreen" value="true"></param>
       <param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/XuRwis3_iVk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x3a3a3a&amp;color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed>
    </object>
  </section>

  <section class="slide" id="elements-images">
  </section>

</article>
