/************************
Styles for Articles *****/

header, article {
  margin: 2.5%; }

h1, h2, h3, h4, h5, h6 {
  color: #660000; }


		.footnotes, .comments { /* footnote */
		}

		/* footnote JavaScript pieces */
		#cont { 
		  overflow: hidden;
		}

		.demo {
		  position: relative;
		  overflow: hidden;
		}

		.switch { /* move position of [show] [hide] for footnotes and comments */
			position: absolute;
			top: 1.45em; 
			left: 6.75em;
		}

		.post .switch {
			position: static;
		}
