/* =============================================================================
		Figures
		   ========================================================================== */
.figure {
	clear: both;
	text-align: left;
  margin: 0em;
	padding: 4em;
  background: #fff;
}


figure {
	float: left;
	overflow: hidden;
	margin: 1em;
	padding-top: 1em;
	border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
}

figure img {
	width: 100%;
}

figure p {
	text-indent: 20px;
}

figure .credit {
	font-size: .7em;
	text-align: left;
	width: auto;
	margin-top: 3px;
}

figure .credit cite {
	font-style: inherit;
}

figure .title {
	font-style: normal;
	font-size: .9em;
	font-weight: bold;
}

figure .caption {
	text-align: left;
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 5px;	
}

figure .title:after {
	content: ":";
}
