/* =============================================================================
		Links

========================================================================== */

a {
  color: #2e6ab1;
  text-decoration: none;
}

a:hover {
  color: #2e6ab1;
  text-decoration: underline;
}

a:visited {
	color: #2e6ab1;
}

a.signup_button {
  margin: 0 auto;
  display: block;
  text-align: center;
	width: 7em;
  color: #fff;
  background: #660000;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1.25em;
}
