/* Presentational Styles */

html {
	height: 100%;
}

body {background-color:#ccc;}

body #container { /* ID of container applied to the body element which is 
the outermost page container */
	margin: auto; /* center in viewport */
	width: 72em; /* fix page width */
}

header img {
  background: #fff;
}

/* to hide h1 and h2 in the header */
#hgroup span {
	display: none;
	}

nav {
	margin: .5%;
	padding: .5%;
}

	section {
		float: none;
		text-align: left;
	  margin: 1em auto;
		padding: 1em 0;
	  background: #fff;
	}

.round { /* round corners */
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
