<article id="main" class="yui3-u-1">

  <h2>Mapping the Book of Jack</h2>
  <div id="map_canvas">
  </div>

  <aside id="cont" class="footnotes">
    <h2>Footnotes</h2>
  </aside> <!-- end class footnotes -->

</article> <!-- end class main -->
