<article id="main" class="yui3-u-1">

  <h1>Mapping the Book of Jack</h1>
  <div id="map_canvas">
  </div>

  <aside id="cont" class="footnotes">
    <h1>Footnotes</h1>
  </aside> <!-- end class footnotes -->

</article> <!-- end class main -->
